<mat-dialog-content class="mat-typography">
<div class="flex flex-col justify-center items-center w-full h-full px-3 py-3 p-1 text-purple-600 bg-white border border-purple-600 rounded-lg shadow">
        <div *ngIf="!cantsubmit" id="dropdownSearch" class="z-10 bg-white rounded w-60 dark:bg-gray-700">
            <div class="p-3">
              <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" class="form-control pl-5 " id="search-text" aria-describedby="search-text" 
                  [(ngModel)]="searchText" placeholder="Search" 
                  autofocus>
              </div>
            </div>
            <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200 scrollbar-container" aria-labelledby="dropdownSearchButton">
              <li class="list-group-item" *ngFor="let user of users | appFilter: searchText; let index=index" (click)="onSubmit(user)">
                  <div class="w-full flex justify-left items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600"><div class="h-10 w-10 m-2 rounded-full overflow-hidden">
                    <img src="https://picsum.photos/id/{{index+1}}/200">
                  </div>
                  <label for="checkbox-item-11" class=" ml-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{user.firstname}} {{user.lastname}}</label>
                </div>
              </li>
            </ul>
        </div>
</div>
</mat-dialog-content>
